<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vault</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
     <h1 class="header" id="vault-head">Password Vault</h1>

    <nav class="sidebar">
        <a href="/">Home</a>
        <a href="/vault">Vault</a>
    </nav>
    
    <div class="input-group-vault">
        <input class="input" type="text" id="site" placeholder="site">
        <input class="input" type="text" id="username" placeholder="username">
        <button class="btn" id="search">search</button>       
    </div>


    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Site</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody id="vault-data"></tbody>
        </table>
    </div>

        <script>
        document.addEventListener("DOMContentLoaded", () => {
            const loadBtn = document.getElementById("search");
            const container = document.getElementById("vault-data");

            loadBtn.addEventListener("click", async () => {
                const response = await fetch("/get_entries");
                const data = await response.json();

            container.innerHTML = ""; // clear ONLY rows

                data.forEach(entry => {
                    const row = document.createElement("tr");

                    const id = document.createElement("td");
                    id.textContent = entry.id;

                    const site = document.createElement("td");
                    site.textContent = entry.site;

                    const user = document.createElement("td");
                    user.textContent = entry.username;

                    const pass = document.createElement("td");
                    pass.textContent = entry.password;

                    row.appendChild(id);
                    row.appendChild(site);
                    row.appendChild(user);
                    row.appendChild(pass);

                    container.appendChild(row);
                });
            });
         });
    </script>
</body>
</html>