<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vault</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
     <h1 class="header" id="vault-head">Password Vault</h1>

    <nav class="sidebar">
        <a href="/">Home</a>
        <a href="/vault">Vault</a>
        <a href="/logout" class="logout-link">Logout</a>
    </nav>
    
    <div class="input-group-vault">
        <input class="input" type="text" id="site" placeholder="site">
        <input class="input" type="text" id="username" placeholder="username">     
    </div>


    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Site</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody id="vault-data"></tbody>
        </table>
    </div>

    <div id="entry-side-panel" class="side-panel hidden">
        <button id="close-side-panel" class="side-panel-close">X</button>

        <h2>Entry Details</h2>

        <p id="entry-id"></p>
        <p id="entry-site"></p>
        <p id="entry-username"></p>
        <p id="entry-password"></p>
        <button class="btn" id="reveal-password">Reveal password</button>
        <button class="btn" id="copy-password">Copy password</button>
        <button class="btn" id="edit-entry">Edit</button>
        <p id="side-message" class="side-message"></p>
    </div>

    <div id="edit-overlay" class="edit-overlay hidden"></div>

    <div id="edit-popup" class="edit-popup hidden">
        <button id="close-edit-popup" class="side-panel-close">X</button>

        <p id="edit-entry-id"></p>

        <input class="input" type="text" id="site-edit" value="">
        <input class="input" type="text" id="username-edit" value="">
        <input class="input" type="text" id="password-edit" value="">

        <button class="btn" id="save-entry-change">Save</button>
    </div>
        
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const siteInput = document.getElementById("site");
            const usernameInput = document.getElementById("username");
            const container = document.getElementById("vault-data");
            const sidePanel = document.getElementById("entry-side-panel");
            const closeSidePanel = document.getElementById("close-side-panel");
            const copyButton = document.getElementById("copy-password");
            const sideMessage = document.getElementById("side-message");
            const revealPasswordBtn = document.getElementById("reveal-password");
            const editEntryBtn = document.getElementById("edit-entry");
            const editPopup = document.getElementById("edit-popup");
            const closeEditPopup = document.getElementById("close-edit-popup");
            const editOverlay = document.getElementById("edit-overlay");
            const saveEntryChangeBtn = document.getElementById("save-entry-change");

            let selectedPassword = "";
            let searchTimeout;
            let selectedEntryId = null;

            closeSidePanel.addEventListener("click", () => {
                sidePanel.classList.add("hidden");
            });

            async function refreshSidePanel(entryId) {
                const response = await fetch(`/get_entry/${entryId}`);
                const entry = await response.json();

                selectedPassword = entry.password;

                document.getElementById("entry-id").textContent = `ID: ${entry.id}`;
                document.getElementById("entry-site").textContent = `Site: ${entry.site}`;
                document.getElementById("entry-username").textContent = `Username: ${entry.username}`;
                document.getElementById("entry-password").textContent = "Password: Hidden";

                revealPasswordBtn.textContent = "Reveal password";
                sideMessage.textContent = "";
}

            document.addEventListener("click", (e) => {
                const editPopupOpen = !editPopup.classList.contains("hidden");

                    if (editPopupOpen) {
                        return;
                    }

                    const clickedInsidePanel = sidePanel.contains(e.target);
                    const clickedRow = e.target.closest(".vault-row");

                    if (
                        !sidePanel.classList.contains("hidden") &&
                        !clickedInsidePanel &&
                        !clickedRow
                    ) {
                        sidePanel.classList.add("hidden");
                    }
            });


            async function loadEntries(site = "", username = "") {
                const response = await fetch(
                    `/get_entries?site=${encodeURIComponent(site)}&username=${encodeURIComponent(username)}`
                );
                const data = await response.json();

                container.innerHTML = "";

                data.forEach(entry => {
                    const row = document.createElement("tr");

                    row.classList.add("vault-row");

                    row.dataset.id = entry.id;
                    row.dataset.site = entry.site;
                    row.dataset.username = entry.username;

                    row.innerHTML = `
                        <td>${entry.id}</td>
                        <td>${entry.site}</td>
                        <td>${entry.username}</td>
                    `;

                    container.appendChild(row);
                });
            }

            loadEntries();

            function debounceSearch() {
                clearTimeout(searchTimeout);

                searchTimeout = setTimeout(() => {
                    loadEntries(siteInput.value, usernameInput.value);
                }, 300);
            }

            siteInput.addEventListener("input", debounceSearch);
            usernameInput.addEventListener("input", debounceSearch);

            container.addEventListener("click", async (e) => {
                const row = e.target.closest(".vault-row");

                if (!row) {
                    return;
                }

                const response = await fetch(`/get_entry/${row.dataset.id}`);
                const entry = await response.json();

                selectedPassword = entry.password;
                selectedEntryId = entry.id;

                document.getElementById("entry-id").textContent = `ID: ${entry.id}`;
                document.getElementById("entry-site").textContent = `Site: ${entry.site}`;
                document.getElementById("entry-username").textContent = `Username: ${entry.username}`;
                document.getElementById("entry-password").textContent = "Password: Hidden";

                revealPasswordBtn.textContent = "Reveal password";
                sideMessage.textContent = "";

                sidePanel.classList.remove("hidden");
            });

            revealPasswordBtn.addEventListener("click", () => {
                const passwordText = document.getElementById("entry-password");

                if (passwordText.textContent === "Password: Hidden") {
                    passwordText.textContent = `Password: ${selectedPassword}`;
                    revealPasswordBtn.textContent = "Hide password";
                } else {
                    passwordText.textContent = "Password: Hidden";
                    revealPasswordBtn.textContent = "Reveal password";
                }
            });

            copyButton.addEventListener("click", () => {
                if (!selectedPassword.trim()) {
                    sideMessage.textContent = "No password selected";
                    sideMessage.style.color = "red";
                    return;
                }
                
                navigator.clipboard.writeText(selectedPassword);

                sideMessage.textContent = "Password copied!";
                sideMessage.style.color = "#00ff55";

                setTimeout(() => {

                }, 1000);
            });

            editEntryBtn.addEventListener("click", () => {
                document.getElementById("edit-entry-id").textContent =
                    document.getElementById("entry-id").textContent;

                document.getElementById("site-edit").value =
                    document.getElementById("entry-site").textContent.replace("Site: ", "");

                document.getElementById("username-edit").value =
                    document.getElementById("entry-username").textContent.replace("Username: ", "");

                document.getElementById("password-edit").value = selectedPassword;

                editPopup.classList.remove("hidden");
                editOverlay.classList.remove("hidden");
            });

           closeEditPopup.addEventListener("click", (e) => {
                e.stopPropagation();

                editPopup.classList.add("hidden");
                editOverlay.classList.add("hidden");
            });

           editOverlay.addEventListener("click", (e) => {
                e.stopPropagation();

                editPopup.classList.add("hidden");
                editOverlay.classList.add("hidden");
            });

            saveEntryChangeBtn.addEventListener("click", async () => {
                const site = document.getElementById("site-edit").value;
                const username = document.getElementById("username-edit").value;
                const password = document.getElementById("password-edit").value;

                if (!site.trim() || !username.trim() || !password.trim()) {
                    alert("All fields are required");
                    return;
                }

                await fetch(`/update_entry/${selectedEntryId}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ site, username, password })
                });

                editPopup.classList.add("hidden");
                editOverlay.classList.add("hidden");

                await refreshSidePanel(selectedEntryId);
                await loadEntries(siteInput.value, usernameInput.value);
            });
                        
        });
    </script>
</body>
</html>